*.bkp
*.log
*.o
*.swp
*.plist/
*.sh
*.status
*~
*.tgz

# Ignore everywhere
.deps
.dirstamp
.libs
config.h
config.h.in
stamp-h1

# Ignore top-level
/aclocal.m4
/autom4te.cache
/build-aux
/compile
/config.*
/configure
/cov-int
/depcomp
/install-sh
/klingklang
/libtool
/missing

Makefile
Makefile.in
